#root {
    height: 100%;
  }
  
  @font-face {
    font-family: 'yofont';
    src: url('/iconfonts/iconfont.eot');
    src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('/iconfonts/iconfont.woff') format('woff'),
    url('/iconfonts/iconfont.ttf') format('truetype'),
    url('/iconfonts/iconfont.svg#iconfont') format('svg');
  }
  
  .home-container {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    .head {
      height: .5rem;
      background: #282828; 
      //font-size: .18rem;
      //line-height: .5rem;
      //text-align: center;
      ul{
        height: 100%;
        @include flexbox();
        li:first-child {
            //@include flex();
            width:.48rem;
            font-size: .16rem;
            line-height: .5rem;
            text-align:center;
			color:#999;
			@include border(0 1px 0 0,#222);
			box-shadow: 1px 0 0px #363636;
        }
        li:nth-child(2){
            //@include flex();
            width:1rem;
            font-size: .14rem;
            color:#fff;
            text-align: center;
            line-height: .5rem;
            padding:0 .10rem;
		}
		li:nth-child(3){
			@include flex();
		}
        li:nth-child(4){
			width:.58rem;
			@include flexbox();
			span{
				@include flexbox();
				color:#999;
				font-size:.14rem;
				line-height: .5rem;
			}
			i{
				@include flexbox();
				margin-left:.08rem;
				color:#999;
				font-size:.12rem;
				line-height: .64rem;
				@include transform(scale(0.8));
				@include transform-origin(0 0);
			}
		}
		li:nth-child(5){
			width:.48rem;
			text-align: center;
			i{
				line-height: .5rem;
				font-size:.16rem;
				color:#999;
			}			
		}
        }
        
        
      }
      .sidebar{
        display: none;
        width:2.65rem;
        height: 6.17rem;
        background:#282828;
        top: .50rem;
        left: 0;
        color:#9a9a9a;
        @include border(1px 0 0 0,#222);
        box-shadow: 0 1px 1px #363636 inset;
        position: absolute;   
        z-index: 10;      
        ul{
            display: block;
            //@include flex-direction();
            //@include flex();
            li{
                line-height: .18rem;
                display: block;
                width:100%;
                padding:.16rem;
                text-align: left;
                @include border(0 0 1px 0,#333,dotted);
                span{
                    font-size:.14rem;
                }
                i{
                    float:right;
                }
                
            }
            li:first-child{
                i{
                    font-size: .14rem;
                    color:#666;
                    //@include transform(scale(.9));
                    //@include transform-origin(0 0);
                }
            }
            li:nth-child(2){
                color: #9a9a9a;
                i{
                    font-size: .14rem;
                    color:#666;
                }
            }                    
            li:nth-child(3){
                width:100%;  
                i{
                    font-size: .14rem;
                    color:#666;                            
                }          
            }
            li:nth-child(4){
                width:100%; 
                i{
                    display: inline-block;
                    line-height: .18rem;
                    font-size: .14rem;
                    @include transform(scale(1));
                    margin-left:0;
                    color:#666;                            
                }
            }
            li:nth-child(5){
                width:100%; 
                i{
                    color:#666;                            
                    display: inline-block;
                    line-height: .18rem;
                    font-size: .14rem;
                    @include transform(scale(1))
                }
            }
            li:nth-child(6){
                i{
                    color:#666;                            
                }
            }
        }
    }
  }

