<div class="detail">
    <section>
        <div class="filmwrap">
            <img src={{cover.origin}} alt="">
        </div>
        <div class="filminfo">
            <div>影片简介</div>
            <div>导&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演:&nbsp;&nbsp;{{director}}</div>
            <div>主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;演:&nbsp;&nbsp;{{#actors}}{{name}}{{/actors}}</div>
            <div>地区语言:&nbsp;&nbsp;{{nation}}</div>
            <div>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型:&nbsp;&nbsp;{{category}}</div>
            <div>上映日期:&nbsp;&nbsp;10月12日上映</div>
            <div>{{synopsis}}</div>
        </div>
    </section>
</div>



