<div class="home-container">
    <nav class="head">
        <ul>
            <li id="slideBar">
                <i class="yo-ico">&#xe603;</i>
            </li>
            <li>卖座电影</li>
            <li></li>
            <li>
                <span>北京</span>
                <i class="yo-ico">&#xe60c;</i>
            </li>
            <li>
                <i class="yo-ico">&#xe606;</i>
            </li>
        </ul>
    </nav>
    <nav class="sidebar">
        <ul>
            <li><span>首页</span><i class="yo-ico">&#xe60d;</i></li>
            <li><span>影片</span><i class="yo-ico">&#xe60d;</i></li>
            <li><span>影院</span><i class="yo-ico">&#xe60d;</i></li>
            <li><b>商城</b><i class="yo-ico">&#xe60d;</i></li>
            <li><b>我的</b><i class="yo-ico">&#xe60d;</i></li>
            <li><span>卖座卡</span><i class="yo-ico">&#xe60d;</i></li>
        </ul>
    </nav>
    <main>

    </main>
</div>