<section>
    <div class="login-form">
        <form action="">
            <div>
                <div>
                    <input type="text" placeholder="输入手机号">
                    <span class="code">
                        <i class="ico"></i>
                        <i class="icon">发送验证码</i>
                    </span>
                </div>
            </div>
            <div>
                <div>
                    <input type="text" placeholder="输入验证码">
                </div>
            </div>

        </form>
    </div>
</section>