<div class="movie-total">
    {{#each moviesList}}
    <div class="movie-item" data-id={{id}}>
        <div>
            <img src={{cover.origin}}>
        </div>
        <div>
            <div>
                <h4>{{name}}</h4>
                <div>
                    <span>{{cinemaCount}}</span>
                    <span>家影院上映</span>
                    <span>{{watchCount}}</span>
                    <span>人购票</span>
                </div>
            </div>
            <div class="rights">
                <span>{{grade}}</span>
            </div>
        </div>

    </div>
    {{/each}}
    <div class="more-button">
        更多热映电影
    </div>
</div>