{{#each list}}
<li>
    <div>
        <img src="{{poster.origin}}" alt="">
    </div>
    <div>
        <div>
            <h2>{{name}}</h2>
            <span>{{grade}}<i class="yo-ico">&#xe60d;</i></span>
        </div>
        <h3>{{intro}}</h3>
        <h4>
            <span>{{cinemaCount}}</span>家影院上映&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>{{watchCount}}</span>人购票
        </h4>
    </div>
</li>
{{/each}}
<div class="foot">
    <img src="/images/arrow.png" alt="">
    <b>下拉加载更多...</b>
</div>
